
h1 {
    background-color: #7d144c;
    color: white;
}

h2 {
    text-align: center;
}

.Novo {
    color: blue;
}
body{
    background-color: #bc1953;
    color: white;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}