h1 {
    background-color: #7d144c;
}
    
body{
    background-color: #bc1953;
    color: white;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Novo {
    display: block;
    margin: auto;
}
h3{
    text-align: center;
}

img{
    width: 1760px;
}
.Mova{
    margin-left: 1770px;
    margin-top: -50px;
}